@tailwind base;
@tailwind components;
@tailwind utilities;


.navbar {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #0a0a0a;
}


.navbar a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar a:hover {
  background-color: #111;
}

body{
    margin:0;
    padding:0;
}