{% extends 'base.html' %}

{% block content %}
<h1 class="flex justify-center font-kode font-bold text-5xl m-5">About</h1>
<div>
    <p class="font-kode base m-10">
        This project was made for the <a href="https://qubitx.devpost.com/">"QubitX Hacks by YCW" Hackathon</a>.
        It's to see how people react to questions on the basis of morality.
        This is not meant to bring about any quarrels or political topics.
        This is just a study to see what people would do in certain situations.
    </p>
</div>
{% endblock %}