<!doctype html>
<head>
  <title>{% block title %}{% endblock %} - Flaskr</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='output.css') }}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Jacquarda+Bastarda+9&family=Kode+Mono:wght@400..700&family=Oswald:wght@200..700&display=swap" rel="stylesheet">
</head>
<body>
<div class="navbar flex-row-reverse">
    <a class="font-kode base m-2 float-left" href="/">Home</a></li>
    <a class="font-kode base m-2 float-left" href="/questions">Questions</a></li>
    <a class="font-kode base m-2 float-left" href="/about">About</a></li>
    <a class="font-kode base m-2 float-right" href="/login">Login</a></li>
    <a class="font-kode base m-2 float-right" href="/register">Register</a></li>
</div>
<br>
{% block content %}
{% endblock %}
</body>