{% extends 'base.html' %}

{% block content %}
<h1 class="flex justify-center font-kode font-bold text-5xl m-5">Register Here!</h1>
<p class="flex justify-center font-kode base m-10">Welcome to the new website! This whole site is currently a work in progress, but hopefully it'll be completely done soon!</p>

<form>
    <div id="RegisterUser">
        <label>Username</label>
        <input placeholder="Put a unique username here!">
    </div>
    <div id="RegisterEmail">
        <label>Email</label>
        <input placeholder="Put your email address here!">
    </div>
    <div id="RegisterPass">
        <label>Password</label>
    </div>
</form>
{% endblock %}